@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG-Medium.woff2") format("woff2"),
    url("../fonts/GraphikLCG-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"),
    url("../fonts/Gilroy-Regular.woff") format("woff");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"),
    url("../fonts/Gilroy-ExtraBold.woff") format("woff");
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"),
    url("../fonts/Gilroy-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Gilroy", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222020;
}
.heading {
  color: #fff;
  font-family: "Graphik LCG", sans-serif;
  margin-bottom: 30px;
}
.download {
  color: #fff;
  padding: 20px;
  background-color: #2f1ce4;
  border: 3px solid #2f1ce4;
}

.more {
  padding: 20px;
  color: #fff;
  background-color: transparent;
  border: 3px solid #fff;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.back {
  background-image: url("../img/return.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
}

.headline {
  margin-top: 100px;
  padding-left: 100px;
  font-size: 48px;
  color: #222020;
}

.title {
  padding-left: 180px;
  font-size: 36px;
  color: #2f1ce4;
  margin-top: 100px;
  margin-bottom: 25px;
}

.list {
  padding-left: 200px;
  font-size: 18px;
}

.text {
  padding-left: 180px;
  margin-bottom: 20px;
}

.table {
  margin-top: 100px;
  border: 1px solid black;
  border-collapse: collapse;
}
.table th,
.table td {
  padding: 5px;
}

.figure {
  padding-left: 200px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

.page {
  width: 1100px;
  margin: 0px;
  margin: auto;
}
.caption {
  font-size: 40px;
  font-weight: lighter;
}
.bodies {
  width: 1020px;
  margin-left: 80px;
  margin-right: 80px;
}
.header {
  font-size: 48px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.item {
  list-style-type: none;
  counter-reset: numbers; /* позволяет пронумеровать */
}
.items {
  list-style-type: none;
  height: 400px;
  width: 350px;
  background-repeat: no-repeat;
}

.first {
  width: 400px;
  height: 150px;
  background-image: url("../img/15.png");
  background-size: cover;
}
.second {
  width: 400px;
  height: 150px;
  background-image: url("../img/155.png");
  background-size: cover;
}

.third {
  width: 400px;
  height: 150px;
  background-image: url("../img/153.png");
  background-size: cover;
}

.fourth {
  width: 400px;
  height: 150px;
  background-image: url("../img/156.png");
  background-size: cover;
}

.box {
  box-shadow: 0px 0px 5px 5px;
  width: 400px;
  height: 420px;
  margin: 40px;
  display: inline-block;
  position: relative;
}

.box::after {
  position: absolute;
  right: 10px;
  bottom: 10px;
  counter-increment: numbers; /* свойство приращения */
  content: "0" counter(numbers); /* свойство содержимого */
  font-size: 48px;
  color: grey;
}

.titlelist {
  font-size: 36px;
  color: #2f1ce4;
  margin-top: 20px;
  margin-left: 40px;
  margin-bottom: 5px;
}

.li {
  font-size: 16px;
  margin-bottom: 10px;
}
.button {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #2f1ce4;
  border: 2px solid #2f1ce4;
  background-color: #fff;
}

.boxbutton {
  text-align: center;
}

.body {
  background-image: url(/img/Фигура\ 1.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 500px;
}
/* Позиционирование. блочная модель. типографика. оформление. анимации */
