@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerLight.woff2") format("woff2"),
    url("../fonts/MullerLight.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

* {
  box-sizing: border-box; /* чтобы паддиги не влиял на внешний размер элемента, чтобы они правились за счет внутреннего размера*/
}

:root {
  --main-font-color: #cc9933;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

body {
  background-color: #f1f1f1;
  font-family: "Muller", sans-serif;
}
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.header-info {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 55px;
}

.header-btn {
  border-left: 1px solid #e1e1e1;
  padding-left: 50px;
}

.btn-personal-cabinet {
  color: var(--main-font-color);
  background-image: url(/img/arrov\ log\ in.svg);
  background-repeat: no-repeat;
  background-position: left 5px top 6px;
  padding: 5px 5px 5px 40px;
}

.btn-personal-cabinet:hover {
  color: #e9c479;
  background-image: url(/img/arrowloginlight.svg);
}

.btn-personal-cabinet:focus {
  background-image: url(/img/arrov\ log\ in.svg);
  border: 1px solid var(--main-font-color);
  color: var(--main-font-color);
}

.btn-personal-cabinet:active {
  background-image: url(/img/arrov\ log\ in.svg);
  color: #a47312;
}

.btn {
  color: var(--main-font-color);
  border-radius: 15px;
  border-color: var(--main-font-color);
  background-color: white;
  padding: 13px 20px;
  margin-right: 45px;
  transition: transform 0.5s;
}

.btn:hover {
  transform: scale(1.3);
}

.btn:hover,
.btn:focus {
  color: #fff;
  background-color: var(--main-font-color);
}
.btn:active {
  background-color: #a47312;
}

.phone {
  color: #666666;
  font-size: 20px;
  font-weight: 500;
  margin-left: 35px;
  margin-right: auto;
  padding: 5px 5px 0px 5px;
}

.phone:hover {
  color: var(--main-font-color);
}

.phone:focus {
  color: var(--main-font-color);
  border: 1px solid var(--main-font-color);
}

.phone:active {
  color: #a47312;
}

.logo {
  width: 260px;
  height: 54px;
  border-radius: 15px;
}

.nav-header {
  background-color: white;
  height: 70px;
  border-radius: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.nav-link {
  color: #666666;
  font-size: 16px;
}

.nav-item {
  padding-left: 45px;
}

.nav-item.is-active.nav-link {
  color: var(--main-font-color);
}

.h2 {
  margin-top: 70px;
  font-size: 40px;
  font-weight: 400;
  margin-left: 40px;
}

.suggestions {
  display: flex;
  min-height: 540px;
}

.bigtext:not(:last-child) {
  margin-right: 20px;
}

.one {
  background-image: linear-gradient(
      90deg,
      rgba(48, 64, 89, 0.84) -2.9%,
      rgba(53, 65, 83, 0) 65.7%
    ),
    url(/img/Rectangle\ 15.jpg);
  margin-bottom: 20px;
}

.two {
  background-image: linear-gradient(
      90deg,
      rgba(48, 64, 89, 0.84) -2.9%,
      rgba(53, 65, 83, 0) 65.7%
    ),
    url(/img/Rectangle\ 16.jpg);
}
.one,
.two {
  min-height: calc(50%-10px);
  font-size: 40px;
  line-height: 40px;
}

.suggestion {
  width: 570px;
  border-radius: 15px;
  color: white;
  font-weight: 700;
  background-size: cover;
  padding: 40px;
}

.tree {
  background-image: url(/img/33\ 1.jpg);
  font-size: 60px;
  line-height: 60px;
  padding-top: 220px;
  min-height: 100%;
}

.small-price {
  margin-bottom: 30px;
}
.price {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  opacity: 0.7;
  margin-top: 15px;
}

.big-price {
  font-size: 30px;
  line-height: 30px;
}

.suggestion-text {
  width: 300px;
}
.about-trip {
  margin-top: 40px;
  color: #ffcc66;
  background-image: url(/img/Rectangle\ 2.svg);
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px;
}
.about-trip:active {
  color: #fff;
}

.services__text {
  width: 76%;
  line-height: 32px;
  font-size: 16px;
}
.services__img,
.services__box-text {
  width: 570px;
  min-height: 165px;
}

.services__box-text {
  background-color: #fff;
  padding-left: 45px;
  padding-bottom: 50px;
  padding-top: 25px;
  border-radius: 0px 0px 15px 15px;
}

.services__img {
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 15px 15px 0px 0px;
}
.four {
  background-image: url(/img/10.jpg);
}

.five {
  background-image: url(/img/15.jpg);
}
.six {
  background-image: url(/img/12.jpg);
}

.seven {
  background-image: url(/img/13.jpg);
}

.services__link,
.services__link:focus {
  color: var(--main-font-color);
  background-image: url(/img/arrow.svg);
  font-weight: 500;
  line-height: 40px;
  font-size: 20px;
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px;
}

.services__link:hover {
  color: #e9c479;
}

.services__link:active {
  color: #a47312;
}

.services__box {
  display: inline-block;
  margin-bottom: 20px;
}

.services__box:nth-child(odd) {
  margin-right: 20px;
}

.benefit-box {
  width: 269px;
  min-height: 275px;
  background-color: #fff;
  padding: 40px;
  display: inline-block;
  border-radius: 15px;
  margin: 10px;
  line-height: 32px;
}

.benefit-box__img {
  background-repeat: no-repeat;
  height: 80px;
}

.first {
  background-image: url(/img/bathtub.svg);
}

.second {
  background-image: url(/img/hanger.svg);
}

.third {
  background-image: url(/img/heating.svg);
}

.fourth {
  background-image: url(/img/hotel-key.svg);
}

.fifth {
  background-image: url(/img/parking.svg);
}

.sixth {
  background-image: url(/img/reception.svg);
}

.seventh {
  background-image: url(/img/security-box.svg);
}

.eighth {
  background-image: url(/img/swimming-pool.svg);
}

.rating-star {
  background-image: url(/img/star.svg);
  height: 14px;
  width: 14px;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.rating-nostar {
  background-image: url(/img/star\ white.svg);
  height: 14px;
  width: 14px;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.img-accommodation {
  border-radius: 15px 15px 0px 0px;
  width: 375px;
  min-height: 220px;
}

.accomandation-box {
  display: inline-block;
  background-color: #fff;
  border-radius: 15px;
  margin-right: 18px;
  margin-bottom: 18px;
}

.accomandation-box:nth-child(3n) {
  margin-right: 0px;
}

.country {
  color: #999999;
}

.price-rating {
  display: flex;
}

.accomandation-text {
  margin: 45px;
  min-height: 120px;
  max-width: 300px;
}
.accomandation-price {
  margin-right: 65px;
}

.last-accomandation-box {
  background-image: url(/img/41.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  width: 374px;
  height: 469px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.last-accomandation-box-link {
  background-image: url(/img/arrow-white.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 7px;
  padding-right: 20px;
  color: #fff;
}

.last-accomandation-box-link:hover {
  color: var(--main-font-color);
  background-image: url(/img/arrow.svg);
}

.last-accomandation-box-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.last-accomandation-box2 {
  margin-top: 420px;
  margin-left: 80px;
}
